.formulaire{
    color: white;
    font-family: var(--font-ensemble);
    font-size: var(--text-p);
    background-color: var(--midnight-blue);
    padding: 0 40;
    text-align: center;
    max-width: 393px;
    margin: 0 auto;
}

.formulaire p {
    margin-bottom: 20px;
}

.formulaire form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.formulaire__input {
    text-align: left;
    flex: 1 1 100%;
}

.formulaire__input:nth-child(1),
.formulaire__input:nth-child(2) {
    flex: 1 1 calc(50% - 8px);
}

.formulaire__input label {
    display: block;
    margin-bottom: 8px;
    font-size: var(--text-p);
}

.formulaire__input input,
.formulaire__input textarea {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 20px;
    background-color: #D9D9E3;
    font-family: var(--font-ensemble);
    font-size: var(--text-p);
    box-sizing: border-box;
}

.formulaire__input textarea {
    min-height: 150px;
    resize: vertical;
}