.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 5.5px;
    content: ">";
}

.hero{
    background: var(--purple);
}

h1{
    color: white;
}