.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    color: white;
}
.breadcrumb a:link,
.breadcrumb a:visited{
    color: white;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 5.5px;
    content: ">";
}

.hero{
    background: var(--purple);
}

.header.hero{
    background: var(--purple);
}

.hero__card{
    background: var(--gray);
}

.hero__card p{
    color: var(--purple);
}

h1{
    color: white;
    margin-top: 0px;
}

.discover-card {
    align-items: center;
    background: var(--gray);
}