body{
    background-color: var(--midnight-blue);
}

.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    color: white;
}
.breadcrumb a:link,
.breadcrumb a:visited{
    color: white;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 5.5px;
    content: ">";
}

.hero{
    background: var(--purple);
}

.header.hero{
    background: var(--purple);
}

.hero__card{
    background: var(--gris);
    border-radius: 30px;
    margin: 32px;
    margin-top: 41px;
    height: 82px;
}

.hero__card p{
    color: var(--midnight-blue);
    text-align: center;
    justify-content: center;
    font-size: var(--texte-p);
    font-family: var(----font-ensemble)
}

h1{
    color: white;
    margin-top: 0px;
    margin-bottom: 9px;
    font-size: var(--texte-h1);
    font-family: var(--font-titre);
    text-align: center;
}

h2{
    color: white;
    font-family: var(--font-titre);
    font-size: var(--texte-h2);
}

.discover-card {
    background: var(--purple);
    border-radius: 40px;
    overflow: hidden;
    width: 329px;
    height: 182px;
    margin-left: 26px;
    margin-right: 52px;
    margin-bottom: 31px;
}

.discover-card a{
    display: flex;
    text-decoration: none;
    height: 100%;
}

.discover-card img{
    width: 134px;
    height: 182px;
}

.discover-card p{
    margin-bottom: 15px;
    margin-top: 0px;
    padding-left: 5px; 
    color: white;
    font-size: var(--texte-p);
    display: flex;
    align-items: center;
}