body{
    background-color: var(--midnight-blue);
}

.header.hero{
    background: var(--purple);
}

h1{
    color: white;
    padding-top: 88px;
    padding-bottom: 89px;
    font-size: var(--texte-h1);
    font-family: var(--font-titre);
    text-align: center;
    display: block;
    margin: 0px;
}

h2{
    color: white;
    font-family: var(--font-titre);
    margin-bottom: 31px;
    margin-top: 22px;
    font-size: var(--texte-h2);
}

h3{
    color: white;
    font-family: var(--font-ensemble);
    font-size: var(--texte-h3);
    margin-left: 20px;
    margin-right: 20px;
}

h4{
    color: white;
    font-family: var(--font-ensemble);
    font-size: var(--texte-h4);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

p{
    color: white;
    font-size: var(--texte-p);
    font-family: var(--font-ensemble);
}


.definition p{
    color: white;
    font-family: var(--font-ensemble);
    font-size: var(--texte-p);
    text-align: center;
}