video{
    max-width: 100%;
    height: auto;
}

.img_pictureascientist{
    width: 191px;
    height: 283px;
    padding: 26px;
    background-color: rgba(255, 255, 255, 0.26);
    margin-top: 27px;
    margin-left: 79px;
    margin-right: 80px;
}