.header {
    height: 55px;
    width: 100%;
    max-width: 393px;
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    gap: 12px;
    position: fixed;
}

.header__logo{
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.langage-switcher{
    display: inline-flex;
    align-items: center;
    gap: 1px;
    color: white;
    margin-left: auto;
}

#language-switcher{
    margin-left: 1px;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: none;
    padding: 0;
    color: var(--gris);
    appearance: none;
}

.menu-btn{
    background: transparent;
    border: none;
    width: 36px;
    height: 36px;
    margin-left: 8px;
}

.menu{
    margin-left: 8px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    background-color: var(--rouge);
}
.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background-color: var(--gris);
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    border-radius: 2px;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}