.hero{
    background-color: var(--purple);
    min-height: 215px;
    width: 393px;
}

.entree-blog{
    font-family: var(--font-ensemble);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10;
    color: white;
}

.breadcrumb{
    margin-top: 5px;
    margin-right: 176px;
}
.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    color: white;
}
.breadcrumb a:link,
.breadcrumb a:visited{
    color: white;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 5.5px;
    content: ">";
}

.hero_index h1{
    margin-bottom: 0px;
}

h1{
    color: white;
    padding-top: 88px;
    padding-bottom: 89px;
    font-size: var(--texte-h1);
    font-family: var(--font-titre);
    text-align: center;
}