.hero__card {
    background: var(--gris);
    border-radius: 30px;
    margin: 32px;
    margin-top: 41px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__card:last-child {
    margin-bottom: 0px;
}

.hero__card p {
    color: var(--midnight-blue);
    text-align: center;
    font-size: var(--texte-p);
    font-family: var(--font-ensemble);
}

.hero__index{
    background: var(--purple);
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 53px;
    padding-left: 32px;
    text-align: center;
}

.hero__index h1{
    font-size: var(--texte-h1);
    font-family: var(--font-titre);
    color: white;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 0px;
}