article {
    color: white;
    font-size: var(--texte-p);
    font-family: var(--font-ensemble);
    justify-content: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-right: 65px;
}

article a {
    text-decoration: underline;
}

button.article-btn{
    background-color: var(--rouge);
    min-width: 290px;
    height: auto ;
    margin-top: 58px;
    margin-bottom: 58px;
    margin-left: 67px;
    margin-right: 67px;
    border-radius: 50px;
}

button.article-btn p{
    text-decoration: underline;
    color: white;
    font-family: var(--font-ensemble);
    font-size: 14;
    align-items: center;
    margin-top: 4px;
}