.menu{
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
    overflow: hidden;
}

.menu.open{
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    visibility: visible;
    display: flex;
    background-color: var(--rouge);
    align-items: center;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    display: list-item;
}

.menu-btn{
    position: relative;
    width: 20px;
    height: 14px;
    background: transparent;
    border: none;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

.menu-btn span{
    display: block;
    width: 20px;
    height: 2px;
    background: var(--gris);
}
