.menu{
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
    overflow: hidden;
}

.menu.open{
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    visibility: visible;
    display: flex;
    background-color: var(--rouge);
    align-items: center;
}

.menu ul{
    list-style-type: none;
}