/*Vendors*/
@import "/src/css/vendors/normalize.css";

/*Variables*/
@import "/src/css/utils/variables.css";

/*Layout*/
@import "/src/css/layout/header.css";
@import "/src/css/layout/footer.css";
@import "/src/css/layout/hero-index.css";
@import "/src/css/layout/hero.css";

/*Components*/
@import "/src/css/components/menu.css";
@import "/src/css/components/discover--cards.css";
@import "/src/css/components/article.css";
@import "/src/css/components/frise.css";
@import "/src/css/components/imgpascientist.css";

/*base*/
@import "/src/css/base/main.css";