/*Vendors*/
@import "/src/css/vendors/normalize.css";

/*Variables*/
@import "/src/css/utils/variables.css";

/*Layout*/
@import "/src/css/layout/header.css";
@import "/src/css/layout/footer.css";

/*Components*/
@import "/src/css/components/menu.css";
@import "/src/css/components/hero--card.css";

/*base*/
@import "/src/css/base/main.css";